.section-planning{
  display: flex;
  flex-direction: column;
}
.boxe,
.futsal{
  background: #7c6341dc;
  padding: 15px;
  margin: 10px;
  color: white;
  text-align: justify;
  font-family: 'roboto', sans-serif  ;
  line-height: 1.3;
  tab-size: 1;
  border-radius: 15px;
  backdrop-filter: blur(3px);
}
p {
  margin: 10px;
}
.texte-img-boxe{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img-actuality-boxe{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-actuality-boxe a{
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.img-actuality-boxe a:hover{
  color: antiquewhite;
  text-decoration: underline;
  opacity: 1;

}

.img-actuality-boxe img{
  height: 300px;
}
